.coffee-list-item {
    margin-right: 71px;
    padding: 37px 27px 22px 27px;
    font-size: 14px;
    text-align: right;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    margin-top: 60px;
}