.house-header {
    background: url(/public/img/header-background.png);
    color: #ffffff;
}

.house-header-nav {
    padding-left: 148px;
    padding-top: 30px;
}

.house-header-info {
    padding-top: 111px;
    padding-bottom: 180px;
    text-align: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.house-header-info h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.house-header-info p {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin: 20px 0;
}

.house-header-info button {
    padding: 5px 42px 10px 42px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.house-header-info button:hover {
    border-color: #D2691E;
    color: #D2691E
}
