.btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    line-height: 17px;
    margin-right: 40px;
    font-family: "Merienda", cursive;
    transition: color .3s ease-in-out;
}

.btn:hover {
    color: #D2691E
}

.btn.black-nav {
    color: black;
}

.btn.black-nav:hover {
    color: #D2691E
}

.house-nav {
    display: flex;
    /* padding: 30px 0 0 148px; */
    align-items: flex-end;
}

.house-nav-icon {
    background: url(/public/img/Vector.svg);
    width: 35px;
    height: 35px;
}

.house-nav-icon.black-nav-icon {
    background: url(/public/img/nav-icon-black.svg);
}
