.coffee-search {
    display: flex;
    align-items: center;
}

.coffee-search span {
    font-size: 14px;
    font-weight: 400;
    margin-right: 19px;
}

.coffee-search input {
    text-align: center;
    padding: 6px 36px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-color: transparent;
}